@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


$bs-blue: #0d6efd;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$bs-pink: #d122e3;
$bs-red: #dc3545;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #198754;
$bs-teal: #20c997;
$bs-cyan: #0dcaf0;
$bs-white: #fff;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-primary: #9926f0;
$bs-secondary: #d122e3;
$bs-success: #198754;
$bs-info: #0dcaf0;
$bs-warning: #ffc107;
$bs-danger: #dc3545;
$bs-light: #f8f9fa;
$bs-dark: #212529;

.light-mode {
	$color-primary: #191d2b;
	$color-secondary: #27ae60;
	$color-white: #ffffff;
	$color-black: #000;
	$color-grey0: #f8f8f8;
	$color-grey-1: #dbe1e8;
	$color-grey-2: #b2becd;
	$color-grey-3: #6c7983;
	$color-grey-4: #454e56;
	$color-grey-5: #2a2e35;
	$color-grey-6: #12181b;
	$br-sm-2: 14px;
	
}

$color-primary: #ffffff;
$color-secondary: #4109ea;
$color-yellow-light: #f5e3bb;
$color-black: #000;
$color-grey0: #f8f8f8;
$color-grey-1: #6c7983;
$color-grey-2: #6c7983;
$color-grey-3: #6c7983;
$color-grey-4: #454e56;
$color-grey-5: #f8f8f8;
$color-grey-6: #12181b;
$box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
