html{
    font-family: sans-serif;
}

body{
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
   
}

 .form input[type="number"] {
        width: 200px;
      }

.lastResult{
    color: white;
    padding: 3px;
}


.output * {
  box-sizing: border-box;
}

.output ul {
  padding-left: 0;
}

.output li {
  display: block;
  float: left;
  width: 25%;
  border: 2px solid white;
  padding: 5px;
  height: 40px;
  background-color: #4a2db6;
  color: white;
}

html {
  font-family: sans-serif;
}

h2 {
  font-size: 16px;
}

.a11y-label {
  margin: 0;
  text-align: right;
  font-size: 0.7rem;
  width: 98%;
}

body {
  margin: 10px;
  background: #f5f9fa;
}